@model EventsCalendar.WebUI.ViewModels.VenueViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="display-4">Performer Details</div>

    <div class="lead">
        @Html.DisplayFor(model => model.Venue.Name)
    </div>

    <hr class="my-3" />

    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Venue.ImageUrl" id="details-image" />
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.SeatCapacity.Budget)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SeatCapacity.Budget)
                        </dd>

                    </dl>
                </div>
                <div class="col">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.SeatCapacity.Moderate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SeatCapacity.Moderate)
                        </dd>

                    </dl>
                </div>
                <div class="col">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.SeatCapacity.Premier)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SeatCapacity.Premier)
                        </dd>

                    </dl>
                </div>
                <div class="col">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.SeatCapacity.Total)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SeatCapacity.Total)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Venue.AddressDto.StreetAddress)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Venue.AddressDto.StreetAddress)
                        </dd>

                    </dl>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Venue.AddressDto.City)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Venue.AddressDto.City)
                        </dd>

                    </dl>
                </div>
                <div class="col-md-2">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Venue.AddressDto.State)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Venue.AddressDto.State)
                        </dd>

                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Venue.AddressDto.ZipCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Venue.AddressDto.ZipCode)
                        </dd>
                    </dl>
                </div>
            </div>
            
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <iframe performerId="map" allowfullscreen></iframe>
        </div>
    </div>

    <div class="pt-lg-4">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Venue.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>

</div>

@section scripts 
{
    <script>
        $(document).ready(function () {
            var streetAddress = '@(Model.Venue.AddressDto.StreetAddress)'.trim();
            var city = '@(Model.Venue.AddressDto.City)'.trim();
            var state = '@(Model.Venue.AddressDto.State)'.trim();
            var address = `${streetAddress},+${city},+${state}`;
            address = address.replace(/\s/g, '+')
            var src = `https://www.google.com/maps/embed/v1/place?key=AIzaSyBEvGqWLKAT14Nk_NVCtqKE-AuchnT1OU8&q=${address}&zoom=11`;
            $("#map").attr('src', src);
        });
    </script>
}