@model EventsCalendar.Services.Contracts.IVenueViewModel

@{
    ViewBag.Title = "VenueForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="offset-2 col-lg-6">
    <h2>Venue Form</h2>

    @using (Html.BeginForm("Save", "Venues"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.Venue.Id)
        @*     @Html.HiddenFor(model => model.Venue.AddressDto.Id) *@
        @Html.HiddenFor(model => model.Venue.AddressId)


        <div class="form-group">
            @Html.LabelFor(model => model.Venue.Name)
            @Html.EditorFor(model => model.Venue.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Venue.Name, "", new { @class = "text-danger" })
        </div>

        <div class="row">
            <div class="form-group col-lg-3">
                @Html.LabelFor(model => model.SeatCapacity.Budget)
                @Html.EditorFor(model => model.SeatCapacity.Budget, new { htmlAttributes = new { @class = "form-control seats" } })
                @Html.ValidationMessageFor(model => model.SeatCapacity.Budget, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-lg-3">
                @Html.LabelFor(model => model.SeatCapacity.Moderate)
                @Html.EditorFor(model => model.SeatCapacity.Moderate, new { htmlAttributes = new { @class = "form-control seats" } })
                @Html.ValidationMessageFor(model => model.SeatCapacity.Moderate, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-lg-3">
                @Html.LabelFor(model => model.SeatCapacity.Premier)
                @Html.EditorFor(model => model.SeatCapacity.Premier, new { htmlAttributes = new { @class = "form-control seats" } })
                @Html.ValidationMessageFor(model => model.SeatCapacity.Premier, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-lg-3">
                @Html.LabelFor(model => model.SeatCapacity.Total)
                @Html.EditorFor(model => model.SeatCapacity.Total, new { htmlAttributes = new {
                    @class = "form-control", @id = "capacity", disabled = "disabled", @readonly = "readonly", @placeholder = "0" } })
                @Html.ValidationMessageFor(model => model.SeatCapacity.Premier, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group" id="venue-image">
            <img src="@Model.Venue.ImageUrl" class="img-thumbnail" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Venue.ImageUrl)
            @Html.EditorFor(model => model.Venue.ImageUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "http://" } })
            @Html.ValidationMessageFor(model => model.Venue.ImageUrl, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Venue.AddressDto.StreetAddress)
            @Html.EditorFor(model => model.Venue.AddressDto.StreetAddress, new { htmlAttributes = new { @class = "form-control", @id = "street-address" } })
            @Html.ValidationMessageFor(model => model.Venue.AddressDto.StreetAddress, "", new { @class = "text-danger" })
        </div>

        <div class="row">
            <div class="form-group col-lg-7">
                @Html.LabelFor(model => model.Venue.AddressDto.City)
                @Html.EditorFor(model => model.Venue.AddressDto.City, new { htmlAttributes = new { @class = "form-control", @id = "city" } })
                @Html.ValidationMessageFor(model => model.Venue.AddressDto.City, "", new { @class = "text-danger" })
            </div>


            <div class="form-group col-lg-2">
                @Html.LabelFor(model => model.Venue.AddressDto.State)
                @Html.EditorFor(model => model.Venue.AddressDto.State, new { htmlAttributes = new { @class = "form-control", @id = "state" } })
                @Html.ValidationMessageFor(model => model.Venue.AddressDto.State, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-lg-3">
                @Html.LabelFor(model => model.Venue.AddressDto.ZipCode)
                @Html.EditorFor(model => model.Venue.AddressDto.ZipCode, new { htmlAttributes = new { @class = "form-control", @id = "zip-code" } })
                @Html.ValidationMessageFor(model => model.Venue.AddressDto.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        @Html.ActionLink("Cancel", "Index", "Venues", null, new { @class = "btn btn-dark" })


    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('.seats').change(function () {
            var sum = 0;
            $('.seats').each(function () {
                sum += Number($(this).val());
            });

            $('#capacity').val(sum);
        });
    </script>
}
