@model EventsCalendar.WebUI.ViewModels.TicketViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PerformanceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformanceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeratePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeratePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PremierPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PremierPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* performerId = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
