@model IEnumerable<EventsCalendar.WebUI.ViewModels.TicketViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PerformanceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeratePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PremierPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeratePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PremierPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* performerId=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* performerId=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* performerId=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
